:root {
  --main-bg-color: #fcfcfd;
  --main-dark-color: #100b07;
  --main-light-color: #aaa9b6;
  --main-verylight-color: #b6bbd3;
  --main-red-color: #d22f26;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--main-bg-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(210, 47, 38, 0.5);
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(210, 47, 38, 0.7);
}
